@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

body{
    font-family: "Outfit", sans-serif;
    margin: 0px;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-image{
    width: 100%;
    border-radius: 0.5rem;
}


.image-container{
     position: relative;
}

.image-container:hover .overlay {
    opacity: 0.6;
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-items: center;
    cursor: pointer;
}


.overlay{
    background-color: hsl(178, 100%, 50%);
        border-radius: 0.5rem;
    opacity: 0;    
    position: absolute;
    top: 0;
}
.card-container{
    background-color: hsl(216, 50%, 16%);
    padding: 1.5rem;
    width: 20rem;
    border-radius: 1rem;
   
    
}

.card-content__p{
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

.avatar-image{
    width: 2rem;
    border: 1px solid white;
    border-radius: 2rem;
}


.card-footer{
    display: flex;
    align-items: center;
    gap: 18px;
}

.card-info, .card-info__left, .card-info__right{
    display: flex;
    align-items: center;
    gap: 8px;
}
.card-info__left{
    letter-spacing: 1px;
}
.card-info{
    justify-content: space-between;
    
}

hr{
    border: none;
    background-color: hsl(215, 32%, 27%);
    height: 1px;
}

.user-name{
    color: hsl(0, 0%, 100%);

}

.card-title{
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
}

.card-price{
    font-weight: bold;
    color: hsl(178, 100%, 50%)
}

.card-title:hover, .user-name:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.overlay, .card-title, .user-name {
    transition: all 0.3s ease;
}

.days-left, .card-footer__creator{
    color: hsl(215, 51%, 70%);
}